body{
background-color: rgb(29, 28, 28);
}
.container {
 margin-top: 100px;
 max-width: 600px;
}
.resultContainer{
    
    background-color: aliceblue;
}
.autoCompleteInput{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.productItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
    border-bottom: 1px solid blanchedalmond;
}
.productName{
    font-size: 14px;
    width: 80%;
}
.productImage{
    height: 80%;
}